@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/Poppins-SemiBold.ttf'); 
}

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/Poppins-Regular.ttf'); 
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins-Regular';
  background: #f2f2f2;
  color: #333333;
}

div {
  display: block;
}

.icon {
    position: relative;
    text-decoration: none;
    color: #DB7F67;
  }

    .icon:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    .icon > .label {
      display: none;
    }

#container-home {
  width: 800px;
  min-height: 300px;
  background: #ffffff;
  margin: auto;
  padding: 40px 50px;
}

#background{
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  

}

#background_signup{
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-linear-gradient(left, #ffecd2, #fcb69f);;
  background-size: cover;
  position: relative;
  z-index: 1; 

}
#gradient{
  font-family: 'Poppins-SemiBold';
  font-size: 36px;
  background: -webkit-linear-gradient(left, #13547a, #80d0c7);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#container-form {
  width: 400px;
  background: #ffffff;
  margin: auto;
  border-radius: 10px;
  padding: 40px 50px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.input_wrap {
  padding: 10px 0 0 0;
  margin-bottom: 35px;
  border-bottom: 2px solid #adadad;
}

.input_wrap_sel {
    border-bottom: 2px solid #333333;
}


input::placeholder {
  color: #adadad;
}

input:focus::placeholder {
  color: transparent;
}

input {
  height: 45px;
  width: 100%;
  background: transparent;
  display: block;
  /*padding: 0 5px 0 45px;*/
  padding: 0 5px;
  color: #555555;
  font-size: 15px;
  outline: none;
  border: none;
  overflow: visible;
}

.lb {
    font-family: 'Poppins-Regular';
    font-size: 24px;
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

#container-button {
  width: 300px;
}

#login_button {
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background: #a64bf4;
  background: -webkit-linear-gradient(left, #ffecd2, #fcb69f);;
  border: none;
  border-radius: 25px;
}

#signup_button {
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background: #a64bf4;
  background: -webkit-linear-gradient(left, #13547a, #80d0c7);
  border: none;
  border-radius: 25px;
}

#signup_option {
  font-size: 13px;
  text-align: center;
  margin: 5px 0 0 0;
}

#container-logout {
  float: right;
}